Time table 3rd last.xlsx
Time table 4th last.xlsx
Time table last.xlsx
Time table second last.xlsx
small_test_area.py
test_area.py
logging_and_starting_meeting_mark1.py
logging_and_starting_meeting_and_then_recording_meeting_mark1.py
logging_and_starting_meeting_and_then_recording_meeting_mark2.py
Main Autmation Code Temp.py
Reading_the_timetable.py 
Tp.C
Algoroithm.txt
tempCodeRunnerFile.py
Random_Zoom_lecture_automation.py
